In [1]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import matplotlib.pyplot as plt

import datetime
import json
import pickle

In [20]:
def get_soup(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    return page.status_code, soup

def get_date(soup, d, country_name, table_id=2, eb_id=1):
    tables = []
    for tb in soup.find_all('table'):
        rows = tb.find_all('tr')
        if len(rows)>3:
            data = []
            for row in rows:
                cols = row.find_all('td')
                cols = [ele.text.strip() for ele in cols]
                data.append([ele for ele in cols if ele])
            tables.append(data)
    
    wanted_table = tables[table_id]
    country_list = [c.replace('\n ','').lower() for c in wanted_table[0]]
    country_name = country_name.lower()
    country_ind = [i for i,c in enumerate(country_list) if country_name in c]
    country_id = country_ind[0]
    res = wanted_table[eb_id][country_id]
    
    if res=='C':
        res_d = d
    elif res=='U':
        res_d = ''
    else:
        DD = int(res[:2])
        MON = res[2:5]
        YYYY = 2000+int(res[-2:])
        if YYYY>2030:
            YYYY-=1000
        MM = M_abbr.index(MON)+1
        res_d = datetime.date(YYYY,MM,DD)
    return res_d

In [17]:
M=['january','february','march','april','may','june','july','august','september','october','november','december']
M_abbr = [a[:3].upper() for a in M]

In [44]:
eb_id = 1

In [45]:
x1 = []
row_days1 = []
cn_days1 = []
in_days1 = []

for yr in [2015, 2016, 2017, 2018, 2019, 2020]:
    bd, ed = 0, 12
    if yr==2015:
        bd=9
    if yr==2020:
        ed=2
    for i in range(bd, 12):
        m = M[i]
        fy = yr if i<9 else yr+1
        url = f'https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/{fy}/visa-bulletin-for-{m}-{yr}.html'
        s, soup = get_soup(url)
        if s==404:
            url = f'https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/{fy}/visa-bulletin-{m}-{yr}.html'
            s, soup = get_soup(url)            
        
        d = datetime.date(yr, i+1, 1)

        try:
            res_ROW   = get_date(soup,d,'all', table_id=2, eb_id=eb_id)
            res_CHINA = get_date(soup,d,'china', table_id=2, eb_id=eb_id)
            res_INDIA = get_date(soup,d,'india', table_id=2, eb_id=eb_id)
        except:
            break
            
        x1.append(d)
        row_days1.append(res_ROW)
        cn_days1.append(res_CHINA)
        in_days1.append(res_INDIA)
        
        print(d,' ',res_ROW, res_CHINA, res_INDIA)
    #break

2015-10-01   2015-10-01 2015-10-01 2015-10-01
2015-11-01   2015-11-01 2015-11-01 2015-11-01
2015-12-01   2015-12-01 2015-12-01 2015-12-01
2016-01-01   2016-01-01 2016-01-01 2016-01-01
2016-02-01   2016-02-01 2016-02-01 2016-02-01
2016-03-01   2016-03-01 2016-03-01 2016-03-01
2016-04-01   2016-04-01 2016-04-01 2016-04-01
2016-05-01   2016-05-01 2016-05-01 2016-05-01
2016-06-01   2016-06-01 2016-06-01 2016-06-01
2016-07-01   2016-07-01 2016-07-01 2016-07-01
2016-08-01   2016-08-01 2010-01-01 2010-01-01
2016-09-01   2016-09-01 2010-01-01 2010-01-01
2016-10-01   2016-10-01 2016-10-01 2016-10-01
2016-11-01   2016-11-01 2016-11-01 2016-11-01
2016-12-01   2016-12-01 2016-12-01 2016-12-01
2017-01-01   2017-01-01 2017-01-01 2017-01-01
2017-02-01   2017-02-01 2017-02-01 2017-02-01
2017-03-01   2017-03-01 2017-03-01 2017-03-01
2017-04-01   2017-04-01 2017-04-01 2017-04-01
2017-05-01   2017-05-01 2017-05-01 2017-05-01
2017-06-01   2017-06-01 2012-01-01 2012-01-01
2017-07-01   2017-07-01 2012-01-01 2012-01-01
2017-08-01   2017-08-01 2012-01-01 2012-01-01
2017-09-01   2017-09-01 2012-01-01 2012-01-01
2017-10-01   2017-10-01 2017-10-01 2017-10-01
2017-11-01   2017-11-01 2017-11-01 2017-11-01
2017-12-01   2017-12-01 2017-12-01 2017-12-01
2018-01-01   2018-01-01 2018-01-01 2018-01-01
2018-02-01   2018-02-01 2018-02-01 2018-02-01
2018-03-01   2018-03-01 2018-03-01 2018-03-01
2018-04-01   2018-04-01 2012-01-01 2012-01-01
2018-05-01   2018-05-01 2012-01-01 2012-01-01
2018-06-01   2018-06-01 2012-01-01 2012-01-01
2018-07-01   2018-07-01 2012-01-01 2012-01-01
2018-08-01   2016-05-01 2012-01-01 2012-01-01
2018-09-01   2016-06-01 2012-01-01 2012-01-01
2018-10-01   2017-04-01 2016-06-01 2016-06-01
2018-11-01   2017-04-01 2016-06-01 2016-06-01
2018-12-01   2017-07-01 2016-09-01 2016-09-01
2019-01-01   2017-10-01 2016-12-15 2016-12-15
2019-02-01   2017-12-01 2017-02-08 2017-02-08
2019-03-01   2018-01-01 2017-02-22 2017-02-22
2019-04-01   2018-02-01 2017-02-22 2017-02-22
2019-05-01   2018-03-01 2017-02-22 2017-02-22
2019-06-01   2018-04-22 2017-02-22 2015-01-01
2019-07-01   2018-04-22 2017-05-08 2015-01-01
2019-08-01   2016-07-01 2016-07-01 2015-01-01
2019-09-01   2017-10-01 2014-01-01
2019-10-01   2018-04-22 2016-11-01 2015-01-01
2019-11-01   2018-06-01 2017-02-01 2015-01-01
2019-12-01   2018-07-15 2017-05-15 2015-01-01
2020-01-01   2018-10-01 2017-05-22 2015-01-01
2020-02-01   2018-12-01 2017-05-22 2015-01-01

In [38]:
x0 = []
row_days0 = []
cn_days0 = []
in_days0 = []

for yr in range(2004,2016):
    if yr==2015:
        ed=9
    else:
        ed=12
    for i in range(0,ed):
        m = M[i]
        fy = yr if i<9 else yr+1
        url = f'https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/{fy}/visa-bulletin-for-{m}-{yr}.html'
        s, soup = get_soup(url)
        if s==404:
            url = f'https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/{fy}/visa-bulletin-{m}-{yr}.html'
            s, soup = get_soup(url)            

        d = datetime.date(yr, i+1, 1)

        try:
            res_ROW   = get_date(soup,d,'all', table_id=1, eb_id=eb_id)
            res_CHINA = get_date(soup,d,'china', table_id=1, eb_id=eb_id)
            res_INDIA = get_date(soup,d,'india', table_id=1, eb_id=eb_id)
        except:
            break
            
        x0.append(d)
        row_days0.append(res_ROW)
        cn_days0.append(res_CHINA)
        in_days0.append(res_INDIA)
        
        print(d,' ',res_ROW, res_CHINA, res_INDIA)

2007-01-01   2007-01-01 2005-04-22 2003-01-08
2008-01-01   2008-01-01 2003-01-01 2000-01-01
2008-02-01   2008-02-01 2003-01-01
2008-03-01   2008-03-01 2003-12-01
2008-04-01   2008-04-01 2003-12-01 2003-12-01
2008-05-01   2008-05-01 2004-01-01 2004-01-01
2008-06-01   2008-06-01 2004-04-01 2004-04-01
2008-07-01   2008-07-01 2004-04-01 2004-04-01
2008-08-01   2008-08-01 2006-06-01 2006-06-01
2008-09-01   2008-09-01 2006-08-01 2006-08-01
2008-10-01   2008-10-01 2004-04-01 2003-04-01
2008-11-01   2008-11-01 2004-06-01 2003-06-01
2008-12-01   2008-12-01 2004-06-01 2003-06-01
2009-01-01   2009-01-01 2004-07-08 2003-07-01
2009-02-01   2009-02-01 2005-01-01 2004-01-01
2009-03-01   2009-03-01 2005-02-15 2004-02-15
2009-04-01   2009-04-01 2005-02-15 2004-02-15
2009-05-01   2009-05-01 2005-02-15 2004-02-15
2009-06-01   2009-06-01 2005-02-15 2000-01-01
2010-01-01   2010-01-01 2005-05-01 2005-01-22
2010-02-01   2010-02-01 2005-05-22 2005-01-22
2010-03-01   2010-03-01 2005-07-08 2005-02-01
2010-04-01   2010-04-01 2005-08-22 2005-02-01
2010-05-01   2010-05-01 2005-09-22 2005-02-01
2010-06-01   2010-06-01 2005-11-22 2005-02-01
2010-07-01   2010-07-01 2005-11-22 2005-10-01
2010-08-01   2010-08-01 2006-03-01 2006-03-01
2010-09-01   2010-09-01 2006-05-08 2006-05-08
2010-10-01   2010-10-01 2006-05-22 2006-05-08
2010-11-01   2010-11-01 2006-06-01 2006-05-08
2010-12-01   2010-12-01 2006-06-08 2006-05-08
2011-01-01   2011-01-01 2006-06-22 2006-05-08
2011-02-01   2011-02-01 2006-07-01 2006-05-08
2011-03-01   2011-03-01 2006-07-08 2006-05-08
2011-04-01   2011-04-01 2006-07-22 2006-05-08
2011-05-01   2011-05-01 2006-08-01 2006-07-01
2011-06-01   2011-06-01 2006-10-15 2006-10-15
2011-07-01   2011-07-01 2007-03-08 2007-03-08
2011-08-01   2011-08-01 2007-04-15 2007-04-15
2011-09-01   2011-09-01 2007-04-15 2007-04-15
2011-10-01   2011-10-01 2007-07-15 2007-07-15
2011-11-01   2011-11-01 2007-11-01 2007-11-01
2011-12-01   2011-12-01 2008-03-15 2008-03-15
2012-01-01   2012-01-01 2009-01-01 2009-01-01
2012-02-01   2012-02-01 2010-01-01 2010-01-01
2012-03-01   2012-03-01 2010-05-01 2010-05-01
2012-04-01   2012-04-01 2010-05-01 2010-05-01
2012-05-01   2012-05-01 2007-08-15 2007-08-15
2012-06-01   2012-06-01
2012-07-01   2009-01-01
2012-08-01   2009-01-01
2012-09-01   2009-01-01
2012-10-01   2012-01-01 2007-07-15 2004-09-01
2012-11-01   2012-11-01 2007-09-01 2004-09-01
2012-12-01   2012-12-01 2007-10-22 2004-09-01
2013-01-01   2013-01-01 2007-12-08 2004-09-01
2013-02-01   2013-02-01 2008-01-15 2004-09-01
2013-03-01   2013-03-01 2008-02-15 2004-09-01
2013-04-01   2013-04-01 2008-04-01 2004-09-01
2013-05-01   2013-05-01 2008-05-15 2004-09-01
2013-06-01   2013-06-01 2008-07-15 2004-09-01
2013-07-01   2013-07-01 2008-08-08 2004-09-01
2013-08-01   2013-08-01 2008-08-08 2008-01-01
2013-09-01   2013-09-01 2008-08-08 2008-06-15
2013-10-01   2013-10-01 2008-09-15 2008-06-15
2013-11-01   2013-11-01 2008-10-08 2008-06-15
2013-12-01   2013-12-01 2008-11-08 2004-11-15
2014-01-01   2014-01-01 2008-12-08 2004-11-15
2014-02-01   2014-02-01 2009-01-08 2004-11-15
2014-03-01   2014-03-01 2009-02-15 2004-11-15
2014-04-01   2014-04-01 2009-03-08 2004-11-15
2014-05-01   2014-05-01 2009-04-15 2004-11-15
2014-06-01   2014-06-01 2009-05-22 2004-11-15
2014-07-01   2014-07-01 2009-07-01 2008-09-01
2014-08-01   2014-08-01 2009-10-08 2009-01-22
2014-09-01   2014-09-01 2009-10-08 2009-05-01
2014-10-01   2014-10-01 2009-11-15 2009-05-01
2014-11-01   2014-11-01 2009-12-08 2005-02-15
2014-12-01   2014-12-01 2010-01-01 2005-02-15
2015-01-01   2015-01-01 2010-02-01 2005-02-15
2015-02-01   2015-02-01 2010-03-15 2005-09-01
2015-03-01   2015-03-01 2010-09-01 2007-01-01
2015-04-01   2015-04-01 2011-04-01 2007-09-01
2015-05-01   2015-05-01 2012-06-01 2008-04-15
2015-06-01   2015-06-01 2013-06-01 2008-10-01
2015-07-01   2015-07-01 2013-10-01 2008-10-01
2015-08-01   2015-08-01 2013-12-15 2008-10-01
2015-09-01   2015-09-01 2006-01-01 2006-01-01

In [39]:
x=x0+x1
row_days = row_days0+row_days1
cn_days = cn_days0+cn_days1
in_days = in_days0+in_days1

In [40]:
eb_fa = {'date':x,
          f'eb{eb_id}-row':row_days,
          f'eb{eb_id}-cn':cn_days,
          f'eb{eb_id}-in':in_days}

In [41]:
df = pd.DataFrame.from_dict(eb_fa)

In [42]:
df.to_csv(f'./../data/eb{eb_id}_final_action_days.csv',index=False)

In [43]:
with open(f'eb{eb_id}_fa.pk', 'wb') as f:
    pickle.dump(eb_fa,f)

In [ ]:
plt.figure(figsize=(12,6))

plt.plot_date(x,x,':',xdate = True, ydate=True,label='current date')
plt.plot_date(x,row_days,'s-',xdate = True, ydate=True,label='Rest of World')
plt.plot_date(x,cn_days,'o-',xdate = True, ydate=True,label='China')
plt.plot_date(x,in_days,'.-',xdate = True, ydate=True,label='India')
#plt.plot_date([datetime.date(2019,11,1),datetime.date(2020,2,1)],[datetime.date(2018,6,1),datetime.date(2018,12,1)],':',color='#ee7700')
#plt.plot_date([datetime.date(2019,11,1),datetime.date(2020,2,1)],[datetime.date(2017,2,1),datetime.date(2017,8,1)],':',color='green')
#plt.plot_date([datetime.date(2019,11,1),datetime.date(2020,2,1)],[datetime.date(2015,1,1),datetime.date(2015,1,1)],':',color='red')

ylim = [datetime.date(1998,8,1),datetime.date(2021,2,1)]
xlim = [datetime.date(2003,8,1),datetime.date(2020,2,1)]

plt.ylim(ylim)
plt.xlim(xlim)
plt.grid('on')
plt.legend()
#plt.title('Estimation of Xiang''s time line')
#plt.title('EB1 catastrophe. Table B')
plt.title(f'EB{eb_id} Final Action Date')

#plt.plot_date([datetime.date(2017,5,30),datetime.date(2017,5,30)],ylim,'k:')
#plt.plot_date(xlim,[datetime.date(2017,5,30),datetime.date(2017,5,30)],'k:')

In [ ]:
with open(f'eb1_fa.pk', 'rb') as f:
    eb1_fa = pickle.load(f)
with open(f'eb2_fa.pk', 'rb') as f:
    eb2_fa = pickle.load(f)
with open(f'eb3_fa.pk', 'rb') as f:
    eb3_fa = pickle.load(f)

In [ ]:
plt.figure(figsize=(12,6))

plt.plot_date(eb1_fa['x'],eb1_fa['x'],':',xdate = True, ydate=True,label='current')
plt.plot_date(eb1_fa['x'],eb1_fa['cn'],'s-',xdate = True, ydate=True,label='EB1-China')
plt.plot_date(eb2_fa['x'],eb2_fa['cn'],'o-',xdate = True, ydate=True,label='EB2-China')
plt.plot_date(eb3_fa['x'],eb3_fa['cn'],'d-',xdate = True, ydate=True,label='EB3-China')

ylim = [datetime.date(1998,8,1),datetime.date(2021,2,1)]
xlim = [datetime.date(2003,8,1),datetime.date(2020,2,1)]

plt.ylim(ylim)
plt.xlim(xlim)
plt.grid('on')
plt.legend()
#plt.title('Estimation of Xiang''s time line')
#plt.title('EB1 catastrophe. Table B')
plt.title(f'China EB Final Action Date')

#plt.plot_date([datetime.date(2017,5,30),datetime.date(2017,5,30)],ylim,'k:')
#plt.plot_date(xlim,[datetime.date(2017,5,30),datetime.date(2017,5,30)],'k:')